html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;

  --header: #4d81b7;
  --modal-header: #fafafa;
  --menu-border: #87898c;

  --modal-subtitle: #5c6269;
  --modal-inputs: #d5dfe9;
  --modal-placeholders: #9ca8b4;

  --checkbox-border: #c6c6c6;
  --checkbox-filled: #4d81b7;

  --item-border: #d5dfe9;
  --item-desc: #7d7a7a;

  --control-icons: #555f7c;

  --button-primary: #1871e8;
  --button-primary-hover: #1265d0;
  --button-primary-active: #4089e7;

  --button-secondary-hover: #c3cdd8;
  --button-secondary-active: #a4acb4;
}
